# Python & Bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
backend/venv/

# Database & Logs
*.sqlite3
*.db
*.log

# Environment variables & secrets
.env
.env.*
!.env.example
secrets.json

# IDE & OS
.vscode/
.idea/
.DS_Store

# Node / Frontend
node_modules/
dist/

# Test & Coverage caches
.pytest_cache/
.coverage

#Other files
Project-details.md 
PROJECT_PLAN.md 
